*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Montserrat", sans-serif;
}
html {
  color-scheme: dark light;
}
:root {
  --text: #050505;
  --background: #fafafa;
  --primary: #1d3367;
  --secondary: #eae0eb;
  --accent: #4d37c8;
}
.dark-mode {
  --text: #fafafa;
  --background: #050505;
  --primary: #1d3367;
  --secondary: #1e141f;
  --accent: #9487de;
}
.hero {
  height: 50vh;
  width: 95%;
  font-family: "Barlow Condensed", sans-serif;
  position: relative;
  overflow: hidden;
  background: var(--background);
}
body {
  background: var(--background);
  color: var(--text);
}

nav ul {
  flex: 1;
  text-align: right;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  text-decoration: none;
  color: var(--primary);
}
nav ul li a:hover {
  color: var(--accent);
}
.logo {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
nav {
  width: 100%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcome {
  margin-left: 8%;
  margin-top: 5%;
}
.welcome h1 {
  font-size: 50px;
  color: var(--text);
  font-family: "Montserrat", sans-serif;
  margin-bottom: 15px;
}

.welcome p {
  line-height: 22px;
  color: var(--text);
  font-family: "Barlow Condensed", sans-serif;
}
span {
  color: var(--primary);
}
span:hover {
  color: var(--accent);
}
.welcome a {
  background: var(--accent);
  padding: 10px 18px;
  text-decoration: none;
  color: var(--secondary);
  display: inline-block;
  margin: 20px 0;
  border-radius: 5px;
}
.welcome a:hover {
  background: var(--secondary);
  color: var(--accent);
  transition: 0.5s;
}
.img-box {
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 25px;
}
.img-box img {
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s;
  border-radius: 100%;
}
.img-box .front-img {
  bottom: 10px;
  height: 80%;
  width: 20%;
  box-shadow: 20%;
  border-radius: 10px;
  filter: contrast(1.25);
}
.img-box:hover .back-image {
  bottom: 20px;
  box-shadow: var(--accent);
}
.img-box:hover .front-img {
  left: 65%;
}
.contact-links {
  display: flex;
  justify-content: center;
  margin: 25px;
}
.contact-links a {
  font-size: 15px;
  color: var(--primary);
  margin-right: 20px;
  text-decoration: none;
}
.contact-links a:hover {
  font-size: 15px;
  color: var(--accent);
  margin-right: 20px;
  text-decoration: none;
}
#icon {
  width: 30px;
  cursor: pointer;
}
#projects {
  margin: 20px 0;
}
.project-header {
  margin: 20px 20px;
}
.project-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.project {
  margin: 20px;
}
.project-img {
  width: 20rem;
  height: 12rem;
  border: 5px;
  border-radius: 5%;
}

.card {
  box-shadow: 5px 5px 5px var(--accent);
  border-radius: 10%;
  transition: box-shadow 0.3s ease;
}
.card:hover {
  box-shadow: -5px -5px 10px var(--accent);
}
.btn-show-all {
  background: var(--accent);
  padding: 10px 18px;
  text-decoration: none;
  color: var(--secondary);
  display: inline-block;
  margin: 20px 25% 0 50%;
  border-radius: 5px;
}
.btn-show-all:hover {
  background: var(--secondary);
  color: var(--accent);
  transition: 0.5s;
}
@media (max-width: 1025px) {
  .welcome h1 {
    font-size: 40px;
    color: var(--text);
    margin-bottom: 15px;
  }
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .welcome h1 {
    font-size: 35px;
    color: var(--text);
    margin-bottom: 15px;
  }
  .img-box {
    width: 42%;
    height: 75%;
    position: absolute;
    bottom: 0;
    right: 25px;
  }
  .img-box img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
    border-radius: 100%;
  }
  .img-box .front-img {
    bottom: 10px;
    height: 80%;
    width: 20%;
    box-shadow: 20%;
    border-radius: 10px;
    filter: contrast(1.25);
  }
  .project-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
